[Desktop Entry]
Type=Application
Name=GNU Emacs (cmpitg)
Comment=GNU Emacs with cmpitg config
Icon=emacs24
TryExec=/home/cmpitg/bin/emacs-cmpitg
Exec=/home/cmpitg/bin/emacs-cmpitg %F
Terminal=false
MimeType=text/css;text/english;text/html;text/plain;text/x-c;text/x-chdr;text/x-csrc;text/x-c++;text/x-c++hdr;text/x-c++src;text/x-java;text/x-makefile;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;
Categories=Ultility;Development;TextEditor;
StartupWMClass=Emacs
